/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #fff;
     background-color: #000;
     font-family: 'Roboto Mono', monospace;
     height: 100vh;
     overflow: hidden;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     line-height: 1.2;
}

/******************************************
/* ANIMATION                   
/*******************************************/

.scale-up-center {
     -webkit-animation: scale-up-center 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.2s both;
             animation: scale-up-center 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.2s both;
}

.scale-up-center2 {
     -webkit-animation: scale-up-center 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.7s both;
             animation: scale-up-center 0.8s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.7s both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
            opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
            opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
  }
}

/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	position: relative;
     margin: 0 auto;
     text-align: center;
}

#text {
     font-size: 20px;
     margin-top: 25vh;
     /*-webkit-text-stroke: 1px #000;*/
     text-shadow: 1px 1px 40px #000;
}

#text span {
     font-size: 40px;
}

#clock {
     font-weight: 700;
}

#isAsleep {
     font-weight: 700;
}

@media only screen and (min-width: 360px) {
     #text {
          font-size: 25px;
     }

     #text span {
          font-size: 50px;
     }
}

@media only screen and (min-width: 500px) {
     #text {
          font-size: 30px;
          /*margin-top: 35vh;*/
     }

     #text span {
          font-size: 60px;
     }
}

@media only screen and (min-width: 650px) {
     #text {
          font-size: 40px;
     }

     #text span {
          font-size: 80px;
     }
}

@media only screen and (min-width: 800px) {
     #text {
          font-size: 45px;
          /*-webkit-text-stroke: 2px #000;*/
     }

     #text span {
          font-size: 90px;
     }
}

@media only screen and (min-width: 1000px) {
     #text {
          font-size: 50px;
          margin-top: 15vh;
     }

     #text span {
          font-size: 100px;
     }
}

@media only screen and (min-width: 1200px) {
     #text {
          font-size: 60px;
     }

     #text span {
          font-size: 120px;
     }
}